.welcome-wrapper{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: white;
}

.marquee {
  width: 100vw;
  max-width: 100%;
  height: calc(100% / 11);
  overflow-x: hidden;
  background-color: #0000FF;
  display: block;
  border-top: .5px solid white;
  border-bottom: .5px solid white;
  transition: transform 1000ms;
}
#first-marquee{
  border-top: 0px;
}
#last-marquee{
  border-bottom: 0px;
}
.track{
  position: absolute;
  white-space: nowrap;
  will-change: transform;
}

.track.track-left{
  animation: marquee-left 20s linear infinite;
}
.track.track-right{
  animation: marquee-right 20s linear infinite;
}
.enter-track{
  cursor: pointer;
}
.enter-track:hover{
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}
.emoji-content.emoji-content-welcome, .enter-content{
  color: #FFF;
  font-size: 2em;
  line-height: 9.09vh;
}
.enter-wrapper{
  transition: all 1000ms;
  opacity: 1;
}
.enter-wrapper:hover{
  background-color: white;
}
.enter-wrapper.hidden{
  opacity: 0;
}
.enter-content{
  transition: color 500ms;
}
.enter-content.on-hover{
  transition: color 500ms;
  color: #0000FF;
}
@keyframes marquee-left {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}
@keyframes marquee-right {
  from { transform: translateX(-50%); }
  to { transform: translateX(0%); }
}
.marquee-left.remove-left{
  transform: translateX(-100%);
}
.marquee.remove-right{
  transform: translateX(100%);
}
